
/*General*/

body {
	font-family: Work Sans,Helvetica Neue,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
}

/*Logo*/

.logo {
	position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    max-width: 5rem;
    z-index: 10;
    opacity: 1;
    transition: all .3s ease 0ms;
}

.logo img {
	width: 80px;
	height: 80px;
}

/*Intro about Helen*/

.wrapper {
	max-width: 1140px;
	margin: auto;
	width: 92%;
}

.typeContainer {
	height: 100px;
}

h1 {
	font-size: 36px;
	text-align: left;
	margin-top: 5rem;
	margin-bottom:4rem;
	font-family: 'work Sans', sans-serif;
	font-weight: normal;
}

.intro {
	clear:both;
}

.asof {
	display:none;
	width: 100%;
	float :left;
	color: #9b9b9b;
	font-size: 70%;
    font-family: Work Sans,Helvetica Neue,Helvetica,sans-serif;
    padding: 0;
   	margin-bottom: 2em;
    line-height: 0;
}

#todayDate {
	float: right;
}

.intro p {
	margin: 0;
	color: #9b9b9b;
    font-size: 20px;
    line-height: 1.6;
    font-family: PT Serif,Georgia,serif;
}

#more {
	color: black;
	opacity: 0.6;
}

/*Projects Dispaly*/

h2 {
	display:block;
}

.workSection {
	display:none;
}
.workDisplay {
	display:none;
}

.workSection {
	clear: both;
}

/*.workSection h3 {
	float: left;
	color: black;
	padding-top:3rem;
	font-weight:300;
	font-size: 4rem;
	font-weight: bold;
	text-align: right;
	opacity: 0.1;
	font-family: helvetica;
}
*/

/*article {
	width: 100%;
	height: 400px;	
	display: flex;
	flex-direction: column;
	font-family: 'work sans', sans-serif;
}

article h3 {
	font-size: 40px;
	margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.1;
}

article p {
	margin: 1.33333rem 0 .33333rem;
}*/


/*for mobile hide image*/


/*.projectIntroR {
	width: 100%;
	display: inline-block;
}



.projectIntroL {
	width: 100%;
	display: inline-block;
	flex-grow: 1;
}


.caption {
	float: right;
	text-align: right;
}

hr {
	display:none;
	width:100%;
	color:black;
	opacity: 0.4;
}*/

h4 {
	font-size:1rem;
	line-height:1.2;
	color: grey;
    font-weight: 500;
    margin-top:1.5rem;
    margin-bottom: 0.5rem;
    display:none;
}

h6 {
	color: #9b9b9b;
    font-size: .9rem;
    margin-top: 0px;
    font-weight: 400;
}



button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: block;
    text-decoration: none;
    background-color: white;
    margin-top:1.5rem;
    font-size: 1rem;
	padding: 0.6rem 0.8rem;
	border: 1px solid grey;
    font-family: 'work sans';
    background-color: white;
    transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: black;
	color: white ;
}

.buttonRight {
	float: right;
}

.typed-cursor {
	display: none;
}

/*Footer*/
footer {
    color: #fff;
    background: #000;
    margin:auto;
}
   
.container {
	width: 92%;
	margin: auto;
	padding-top: 48px;
}

.firstPart h2 {
	margin-top: 1rem;
	margin-bottom:2rem;
	font-size: 2rem;
	line-height: 1.2;
	color:white;
}

nav {
	margin-top: 1rem;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

nav a {
	font-size: 1.2rem;
	line-height: 1.5;
	color: grey;
	margin-right: 4rem;
	display:block;
}

.secondPart {
	margin-top: 2rem;
	color: grey;
	display: flex;
	flex-direction: column;
	padding-bottom:3rem;
}

.secondPart p{
	margin-top: 0px;
	font-size: 1rem;
}

.secondPart-left {
	margin-right: 20%;
}

.secondPart-left ul {
	list-style: none;
	padding-left: 0px;
}
.secondPart-left li a {
	color: white;
}

#profile {
	display:none;
}
